@media screen and (max-width: 768px) {
    .three_js .zoom-controls {
        bottom: 120px;
        right: 25px;
    }

    body.he .three_js .zoom-controls {
        left: 25px;
    }
    .three_js .rotation-controller {
        width: calc(100vw - 100px);
        bottom: 50px;
    }
    .three_js .popup-info.show {left: 50%!important;transform: translateX(-50%);}
    .three_js .points-line {
        display: none!important;
    }
    .three_js .popup-info .close-btn {
        right: 0px;
        top: 0px;
    }
}