.filter-module-open-btn { 
    bottom: 32px;
    right: 32px; 
    position: absolute;
    z-index: 99;  
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    &.close-btn {
        
    }
}
.filter-module-container {
    position: absolute; 
    width: auto;
    min-width:calc(100% - 64px); 
    left: 34px;
    z-index: 99;
    height: 144px;
    border-radius: 6px; 
    display: flex;
    font-family: 'fragolino';  
    bottom: -100%;  
    transition: 1s;
    transition-timing-function: cubic-bezier(0.92, -0.01, 0.07, 1); 
    opacity: 0;


    &.flat-cards-open {
        .filter-controls {
            transform: rotateX(-180deg);
        }
        
        .flat-cards {
            transform: rotateX(0deg);
        }
    }
    &.open {
        bottom: 32px;
        opacity: 1;
    }
    .reset-filter {
        position: absolute;
        bottom: calc(100% + 34px);
        right: 0;
    }
    .filter-controls.on-back ~ .flat-counter { 
        .text {
            display: none;
        } 
        .ic.short {
            display: block;
        }  
    }
    .filter-controls-tabs {
        display: none;
    }
    .filter-controls {
        display: flex;
        min-width: 100%;
        height: 144px;
        position: relative;
        z-index: 1;
        background-color: $white;
        transform: rotateX(0deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: 0.5s;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        &.open {
        }
        &.unactive {
            opacity: 0.5!important;
            filter: grayscale(0.5)
        }
        &.on-back {
            transform: scale(0.8)   translateY(-100px);             
            z-index: 3;
        }

        &.transition-off {
            transition: none;
        }
    }
    .flat-cards {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 0;
        transition: 0.5s;
        display: flex;
        opacity: 2; 
        opacity: 0;
        &.on-back {
         z-index: 0;  
            transform: scale(0.8)   translateY(-100px);

        }
        &.transition-off {
            transition: none;
        }
        .flat-cards-slider {
            position: relative;
            display: flex;
            margin-left: -16px;
            min-height: 192px;
            &.not-found {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                background-color: $white;
                width: calc(100% + 16px);
                height: 198px;
                border-radius: 6px;
                font-size: 30px;
            }
            mark {
                background-color: $brand-color-2;
            }
        }
        .nfm-flat-card {
            width: 284px;
            min-width: 284px;
            background-color: $white;
            margin: 0 16px;
            padding: 18px 15px;
            border-radius: 6px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0,  0.3);
            opacity: 0.5;
            transition: 0.5s;
            .flat-card-box { 
                &.unavailable {
                   filter: saturate(0);
                   opacity: 0.5;                         
                    .btns-row .apt-plan {
                        display: none;
                    }         
                }
            }
            &.active,
            &:hover {
                opacity: 1;
                transform-origin: center;
                transform: scale(1.1);
            }
            .name {
                font-size: 34px;
                font-weight: 600;
            }
            .price {
                margin-top: 3px;
                font-size: 17px;
                display: flex;
                .currency {
                    padding-left: 5px;
                } 
                .number {
                    padding: 0 2px;
                }
            }
            .options {
                display: flex;
                margin-top: 16px;
                justify-content: space-between;
                .option-item {
                    width: auto;
                    .top {
                        display: flex;
                        .number {
                            font-size: 21px;
                            font-weight: 400;
                            line-height: 25px;
                            padding: 0 5px;
                        }
                        .ic {
                            width: 24px;
                            height: 24px;
                            flex-shrink: 0;
                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                                object-fit: contain;
                            }
                        }
                    }
                    .bottom {
                        .text {
                            color: $gray-middle;
                            font-weight: 300;
                        }
                    }
                }
            }
            .btns-row {
                display: flex;
                padding-top: 15px;
                justify-content: space-between;
                .new-ui-btn {
                    height: 36px;
                    width: 47%;
                }
            }
        }

    }
    .input-search {
        position: absolute;
        bottom: calc(100% + 32px);
        left: 78px;
        height: 42px;
        width: 226px;
        display: flex;
        border-radius: 22px;
        background-color: $white;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 10;
        opacity: 0.5;
        transition: 0.5s;
        padding-right: 10px;
        &.active {
            opacity: 1;
        }
        input {
            padding: 0  0  0 15px;
            width: calc(100% - 24px);
        }
        .ic {
            min-width: 24px;
            width: 24px;
            height: 24px;
            margin: auto 0;
            margin-left: auto;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

    }
    .flat-counter {
        position: absolute;
        bottom: calc(100% + 32px);
        right: 68px;;
        display: none;
        height: 42px;
        background-color: $brand-color-1;

        box-shadow: 2px 2px 5px rgba(0, 0, 0,  0.3);
        color: $white;
        padding: 8px 16px;
        border-radius: 32px;
        cursor: pointer;
        &.unactive {
            filter: grayscale(1);
        }
        .ic {
            width: 24px;
            height: 24px;
            margin: auto 0;
            margin-left: auto;
            margin-right: 15px;
            display: none;
            &.white {
                img {
                    filter : brightness(0) invert(1);
                }
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        * {
            margin: auto 5px;
        }

    }

    .close-btn {
        position: absolute;
        top: -76px;
        right: initial;
        left: 0px;
    }
    .true-false-toggler {
            position: relative; 
        .b {
            display: block;
        }
        .toggle {
            position: relative;
            top: 0;
            left: 0%;
            margin-top: 15px;
            width: 56px;
            height: 28px;
            border-radius: 100px;
            background-color: $gray-middle;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            transition: 0.5s;
            &.active {              
                background-color: $white;          
            }
        }

        .check {
            position: absolute;
            display: block;
            cursor: pointer;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 6;
        }

        .check:checked ~ .toggle {
            background-color: $gray-middle;
        }
        .check:checked ~ .track {
            box-shadow: inset 0 0 0 20px $gray-light; 
        }

        .check:checked ~ .switch {
            right: 2px;
            left: 30px;
            transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
            transition-property: left, right;
            transition-delay: .05s, 0s; 
            background-color: $service-available;
        }

        .switch {
            position: absolute;
            left: 2px;
            top: 2px;
            bottom: 2px;
            right: 30px;
            background-color: $white;
            border-radius: 36px;
            z-index: 1;
            transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
            transition-property: left, right, color;
            transition-delay: 0s, .05s;
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
        }

        .track {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
            box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
            border-radius: 40px;
        }
    }
}
.nfm-sorting-box {
    min-width: 164px;
    width: auto;
    background: $brand-color-1;
    color: $white;
    padding: 20px 12px 0 33px;
    flex-shrink: 0;
    font-family: fragolino-book;
    letter-spacing: 0.5px;
    margin-right: 28px;
    .title {
        font-size: 18px;
    }
    .sorting-list {
        padding: 16px 0 0 1px;
        display: flex;
        letter-spacing: 0.9px;
        .sorting-group {
            display: flex;
        }
    }
    .sort-btn-item {      
        display: flex;
        padding-right: 20px; 
        &.desc {
            .ic {
                transform: rotate(180deg);
            }
        }
        &.active {

        }
        &.hide {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
        }

        .name {
            margin-right: 11px;
            font-size: 17px;
            padding-top: 4px;
        }
        .ic {
            width: 24px;
            min-width: 24px; 
            height: 24px;
            display: block;
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit : contain;
            }
        }
    }
}
.nmf-range-selector-box  { 
    padding-right: 10px;
    overflow: hidden;
    .disabled-selector {
        display: block;
        position: absolute;
        top: 300px;        
        width: 156px;
        transition: 0.5s;
        .text {
            color: #03233A;
            opacity: 0.75;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.2;
        }
    }
    &.disabled {
        .nfm-selected {
            opacity: 0; 
            top: 100px;
        }
         .nmf-range-selector { 
            top: 100px;
            opacity: 0;
        }
        .disabled-selector {
            display: block;
            position: absolute;
            top: 55px;
            width: 156px;
        }
    }
    .nmf-range-selector {
        width: 156px;
        position:relative;
        height: 50px;
        margin-right: 30px;
        margin-top: 22px;
        left: 8px;
        position: relative;
        top:0;
        transition: 0.5s;
        .circle {
            position: absolute;
            top: -10px;
            width: 24px;
            height: 24px;  
            z-index: 3;
            &:after {
                content: '';
                position: absolute;
                top: 4px;
                left: 4px;
                background-color: $brand-color-1;
                width: 16px;
                height: 16px;
            }
            &.nmf-min {
                left: 0;
                transform: translateX(-50%); 
            }
            &.nmf-max {
                left: 30%;
                transform: translateX(50%);
            }
        }
        .range-line {
            position: absolute;
            top: 0;
            background: $gray-middle;
            width: 100%;
            height: 4px;
            z-index: 1;
        }
        .range-line-active {
            width: 30%;
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: $brand-color-1;
        }
        .circle-tooltip {
            display: none;
        };
        .disabled-selector {

        }
    }
    .nfm-selected {
        display: flex;
            color: $gray-middle;
            font-weight: 300;
            justify-content: space-between;
            margin-bottom: 10px;
                padding-top: 9px;
                transition: 0.5s;
                position: relative;
                top: 0px;
        .number-box {
            display: flex;
            justify-content: center;
            min-width: 44px;
            color: $gray-middle;
            font-weight: 300;
            border-bottom: 1px solid gray;
            font-size: 17px;
            padding: 4px 4px 0px 4px;
            background-color: $white;
            &.input {
                position: relative;
                input {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center; 
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                      -webkit-appearance: none; 
                    }
                }
            }
            .simbol {
               order: 2;
               margin: 0 5px;
            }

            input {
                display: none; 
            }
        }
        .middle {
            line-height: 33px;
            padding: 0 10px;
        }
    }
}
    .nfm-first-line {

        display: flex;
        width: 100%; 
        padding: 16px 0 4px 0; 
        .title {
            font-size: 18px;
            order: 2;
            line-height: 1.3; 
            font-weight: 700;
        }
        .icon-box {
            margin-right: 14px;
            width: 24px;
            height: 24px;
            min-width: 24px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }

.nfm-togglers { 
    padding: 0;
    box-sizing: border-box;
    margin-right: 24px;
    .togglers-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    margin-left: -6px; 
        .toggler-btn {
            font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                padding: 7px 16px; 
                margin: 5px 8px;
                background-color: $gray-light;
                font-weight: 500;
                font-size: 18px; 
                color: $brand-color-1;
                transition: 0.5s;
                cursor: pointer;
                border-radius: 20px;  
           
            &.active {
                background-color : $brand-color-1; 
                color: $white;
            }
            @media screen and (min-width: 1024px) {
                &:hover {
                    background-color: $brand-color-2;
                    color: $white;
                }
            }
            &.unactive {
                opacity: 0.1;
            } 
        }
    }
}

body.he {
    .filter-module-container .flat-counter .ic {
        margin-left: 10px;
        margin-right: 0;
    }
    .filter-module-container .reset-filter {
        right: initial;
        left: 0;
    }
    .filter-module-container .close-btn {
        right: 0;
    }
    .filter-module-container .input-search {
        right: 68px;
        left: initial;
        padding-left: 10px;
        padding-right: 0;
    }
    .filter-module-container .input-search input {
        padding-right: 15px;
        padding-left: 0;
    }
    .filter-module-container .flat-counter {
        right: initial;
        left: 68px;
    }
    .filter-module-container .flat-counter .count {
        order: 2;
    }
    .nfm-sorting-box .sort-btn-item {
        padding-right: 0px;
        padding-left: 20px;
    }
    .nfm-sorting-box .sort-btn-item .name {
        margin-right: 0px;
        margin-left: 18px;
    }
    .nmf-range-selector-box {
        padding-left: 0;
        padding-right: 31px;
    }
    .nmf-range-selector-box .nmf-range-selector  {
        right: -30px;
    }
    .nmf-range-selector-box .nfm-selected {
        flex-direction: row-reverse;
    }
    .nmf-range-selector-box .nfm-selected .number-box .nmf-max-text,
    .nmf-range-selector-box .nfm-selected .number-box .nmf-min-text {
        order: 2;
    }
    .nfm-first-line .icon-box {
        margin-left: 19px;
        margin-right: 0;
    }
    .nfm-togglers .togglers-row {
        margin-right: -8px;
        margin-left: 0;
    }
    .new-ui-btn .new-ui-icon {
        margin-right: 0;
        margin-left: 8px;
    }
    .nfm-sorting-box {
        padding-right: 32px;
        padding-left: 12px;
        margin-left: 28px;
        margin-right: 0px;
    }

}
