//ALMONI
@font-face {
	font-family: 'almoni-tzar';
	font-weight: 300;
	/*(light)*/
	font-style: normal;
	src: url("../fonts/almoni/almoni-neue-tzar-aaa-300.woff") format("woff"); }
@font-face {
	font-family: 'almoni-tzar';
	font-weight: 400;
	/*(regular)*/
	font-style: normal;
	src: url("../fonts/almoni/almoni-neue-tzar-aaa-400.woff") format("woff");
}
@font-face {
	font-family: 'almoni-tzar';
	font-weight: 600;
	/*(demi bold)*/
	font-style: normal;
	src: url("../fonts/almoni/almoni-tzar-demibold-aaa.woff") format("woff"); }
@font-face {
	font-family: 'almoni-neue';
	font-weight: 300;
	/*(light)*/
	font-style: normal;
	src: url("../fonts/almoni/almoni-neue-light-aaa.woff") format("woff"); }
@font-face {
	font-family: 'almoni-neue';
	font-weight: 400;
	/*(regular)*/
	font-style: normal;
	src: url("../fonts/almoni/almoni-neue-regular-aaa.woff") format("woff"); }
@font-face {
	font-family: 'almoni-neue';
	font-weight: 700;
	/*(bold)*/
	font-style: normal;
	src: url("../fonts/almoni/almoni-neue-bold-aaa.woff") format("woff"); }

// weather font
@font-face {
	font-family: 'weathericons';
	src: url("../fonts/almoni/weathericons-regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal; }


//FRAGOLINO
//Light
@font-face {
	font-family: 'fragolino';
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/fragolino/FragolinoLight.eot");
	src: url("../fonts/fragolino/FragolinoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoLight.woff2") format("woff2"), url("../fonts/fragolino/FragolinoLight.ttf") format("truetype");
}

//Book
@font-face {
	font-family: 'fragolino-book';
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/fragolino/FragolinoBook.eot") format("embedded-opentype");
	src: url("../fonts/fragolino/FragolinoBook.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoBook.woff2") format("woff2"), url("../fonts/fragolino/FragolinoBook.ttf") format("truetype");
}
//Book cond
@font-face {
	font-family: 'fragolino-book-cond';
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/fragolino/FragolinoCondBook.eot") format("embedded-opentype");
	src: url("../fonts/fragolino/FragolinoCondBook.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoCondBook.woff2") format("woff2"), url("../fonts/fragolino/FragolinoCondBook.ttf") format("truetype");

}

//Medium
@font-face {
	font-family: 'fragolino';
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/fragolino/FragolinoMedium.eot") format("embedded-opentype");
	src: url("../fonts/fragolino/FragolinoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoMedium.woff2") format("woff2"), url("../fonts/fragolino/FragolinoMedium.ttf") format("truetype");

}
//Bold
@font-face {
	font-family: 'fragolino';
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/fragolino/FragolinoBold.eot") format("embedded-opentype");
	src: url("../fonts/fragolino/FragolinoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoBold.woff2") format("woff2"), url("../fonts/fragolino/FragolinoBold.ttf") format("truetype");

}
//Cond Bold
@font-face {
	font-family: 'fragolino-cond';
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/fragolino/FragolinoCondBold.eot") format("embedded-opentype");
	src: url("../fonts/fragolino/FragolinoCondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoCondBold.woff2") format("woff2"), url("../fonts/fragolino/FragolinoCondBold.ttf") format("truetype");

}

// Ubuntu
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/ubuntu/Ubuntu-Light.eot');
	src: url('../fonts/ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ubuntu/Ubuntu-Light.woff2') format('woff2'),
	url('../fonts/ubuntu/Ubuntu-Light.woff') format('woff'),
	url('../fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu-medium';
	src: url('../fonts/ubuntu/Ubuntu-Medium.eot');
	src: url('../fonts/ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2'),
	url('../fonts/ubuntu/Ubuntu-Medium.woff') format('woff'),
	url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}