body {
	&.en {
		.lang-button {
			&::before {
				left: 20px;
			}
		}
	}
	&.he {
		.lang-button {
			&::before {
				left: 20px;
			}
		}
	}
}

.lang {
	&-container {
		display: flex;
	}
	&-button {
		margin-right: 16px;
	}
	&-button,
	&-list {
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	&-dropdown {}
}

@media (max-width: 1200px) {
	.lang-button {
		filter: grayscale(1);
	}
}