.left-nav-bar {
	position: absolute;
	top: 27px;
	left: 32px;
	background-color: transparent;
	transition: 0.5s ease-in-out;
	z-index: 50;
}
.button-options {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	width: 42px;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
	//border-radius: 50%;
	background-image: url("../img/navigation/left-menu/tune.svg");
	background-color: $white;
	transition: 0.5s;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

	&:hover {
		background-image: url("../img/navigation/left-menu/tune_white.svg");
		background-color: $brand-color-2;
	}
}

.options {
	&__menu {
		display: block;
		position: fixed;
		width: 412px;
		height: 100%;
		top: 0;
		left: -200%;
		font-family: fragolino, sans-serif;
		color: $brand-color-1;
		background-color: $white;
		z-index: 500;
		transition: cubic-bezier(1, -0.01, 0.55, 1);
		transition-duration: 0.75s;
		box-shadow: 2px 2px 5px rgba(26, 47, 67, 0.3);

		&.open {
			left: 0;
			transition-timing-function: cubic-bezier(0.38, -0.01, 0, 0.97);
		}
		&-wrapper {
			position: relative;
			padding: 32px;
		}
		&-close {
			position: absolute;
			display: block;
			top: 32px;
			right: 32px;
			width: 42px;
			height: 42px;
			margin: 0;
			padding: 0;
			border: none;
			outline: none;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("../img/filter-module/close-ic.svg");
			z-index: 52;
			cursor: pointer;
			transition: 0.5s;

			&:hover {
				background-image: url("../img/filter-module/close-ic_hover.svg");
			}
		}
		&-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 24px;
		}
		&-content {
			padding-top: 90px;
		}
		&-title {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			text-transform: capitalize;
		}
		&-buttons {
			display: flex;
			flex-wrap: wrap;
		}
		&-button {
			padding-bottom: 16px;
			&:nth-child(odd) {
				margin-right: 16px;
			}
		}
		&-label {
			display: block;
			position: relative;
			padding:  7px 16px 7px 48px;
			filter: drop-shadow(0px 5px 9px rgba(46, 70, 81, 0.15));
			background-color: $gray-light;
			cursor: pointer;
			text-align: right;
			transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);

			& > span {
				font-weight: 500;
				font-size: 16px;
				line-height: 18px;
				color: $brand-color-1;
				transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 16px;
				transform: translateY(-50%);
				width: 24px;
				height: 24px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
			}

			&--pedestrians {
				&::before {
					background-image: url("../img/navigation/left-menu/walkin.svg");
				}
			}
			&--bicycles {
				&::before {
					background-image: url("../img/navigation/left-menu/bike.svg");
				}
			}
			&--cars {
				&::before {
					background-image: url("../img/navigation/left-menu/car.svg");
				}
			}
			&--birds {
				&::before {
					background-image: url("../img/navigation/left-menu/birds.svg");
				}
			}
		}
		&-switch {
			display: block;
			position: relative;
			width: 64px;
			height: 32px;
			background: #6E767E;
			border-radius: 20px;
			cursor: pointer;
			z-index: 55;
			transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				background-color: #F7F7F7;
				top: 50%;
				transform: translateY(-50%);
				left: 2px;
				z-index: 56;
				transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
			}
		}
		&-input {
			display: none;

			&:checked {
				& + .options__menu-switch {
					background-color: #F7F7F7;

					&::before {
						background-color: #2FB4ED;
						filter: drop-shadow(0px 5px 9px rgba(46, 70, 81, 0.15));
						left: 34px;
					}
				}
				& + .options__menu-label {
					background-color: #1A2F43;

					&>span {
						color: #ffffff;
						opacity: 1;
					}

					&::before {
						opacity: 1;
					}

					&--pedestrians {
						&::before {
							background-image: url("../img/navigation/left-menu/walkin_white.svg");
						}
					}
					&--bicycles {
						&::before {
							background-image: url("../img/navigation/left-menu/bike_white.svg");
						}
					}
					&--cars {
						&::before {
							background-image: url("../img/navigation/left-menu/car_white.svg");
						}
					}
					&--birds {
						&::before {
							background-image: url("../img/navigation/left-menu/birds_white.svg");
						}
					}
				}
			}
			&:disabled {
				& + .options__menu-label {
					background-color: $white;
					cursor: default;

					& > span {
						opacity: 0.5;
					}
					&::before {
						opacity: 0.5;
					}
				}
			}
		}
	}
}

html[dir=rtl] {
	.options__menu {
		&-button {
			margin-left: 16px;
			&:nth-child(odd) {
				margin-right: 0;
			}
		}
		&-label {
			padding: 7px 48px 7px 16px;

			&::before {
				left: initial;
				right: 16px;
			}
		}
	}
}

.floors-selector-n-back,
.zoom-controls,
.compass,
.search-btn {
	&.hide {
		display: none !important;
	}
}

@media screen and (max-width: 450px) {
	body {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}

	.left-nav-bar {
		top: 16px;
	}
	.button-options {
		opacity: 1;
		visibility: visible;
		transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);

		&.hide {
			opacity: 0;
			visibility: hidden;
		}
		&:hover {
			background-image: url("../img/navigation/left-menu/tune.svg");
			background-color: $white;
		}
	}
	.options__menu {
		top: initial;
		bottom: -150%;
		left: initial;
		width: 100%;
		height: auto;
		transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
		z-index: 100;

		&-wrapper {
			&::before {
				content: '';
				position: absolute;
				top: 8px;
				left: 50%;
				transform: translateX(-50%);
				width: 36px;
				height: 4px;
				background-color: #C0C0C0;
				border-radius: 8px;
			}
		}

		&-content {
			padding-top: 16px;
		}
		&-close {
			display: none;
		}

		&.open {
			bottom: 0;
			transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
		}
	}
}
