.not-flat {
	position: fixed;
	background-color: rgba(26, 47, 67, 0.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 35;

	&-body {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 1220px;
		height: 90%;
		background-color: #fff;
	}
	&-close {
		position: absolute;
		border: none;
		width: 42px;
		height: 42px;
		background-color: transparent;
		top: 12px;
		right: -54px;
		padding: 0;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../img/gindi-popup-close.svg");
		outline: none;
		cursor: pointer;
		z-index: 90;
	}
	&-wrapper360 {
		position: relative;
		width: 100%;

		.fullscreen-btn {
			width: 34px;
			height: 34px;
			position: absolute;
			top: 30px;
			right: 30px;
			background-color: $white;
			border: 1px solid $brand-color-1;
			opacity: 1;
			cursor: pointer;
			&.active {
				.icon {

					background-image: url(../img/gindi-fullscreen-exit.svg);

					background-size: 24px;
				}
			}
			&:hover {
				background-color: $brand-color-1;
				.icon {
					filter: invert(1);
				}
			}
			.icon {
				background-image: url(../img/gindi-fullscreen-in.svg);
				background-size: 20px;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				transition: 0.5s;
			}
		}
	}
	&-sidebar {
		width: 100%;
		max-width: 208px;
		padding: 32px;
		background-color: #F7F7F7;

		&-title {
			font-family: Fragolino-Cond;
			font-weight: 600;
			font-size: 32px;
			line-height: 41px;
			margin-top: 0;
			margin-bottom: 24px;
			color: #03233A;
		}
		&-description {
			font-family: Fragolino;
			padding-top: 0;
			padding-bottom: 0;
			font-weight: 300;
			font-size: 16px;
			line-height: 18px;
			color: #03233A;
		}
	}
	&-iframe {
		width: 100%;
		height: 100%;
	}
}

html[dir=rtl] {
	.not-flat-body {
		flex-direction: row-reverse;
	}
}

.print-btn {
	&.hide {
		opacity: 0;
		visibility: hidden;
		//display: none;
	}
}