/// BRAND COLORS
$brand-color-2: #C1AC87;
$gray-middle:#6E767E;
$text-color-1: #03233A;
$brand-color-1: #1A2F43;
$white: #FFFFFF;
$service-available: #2FB4ED;
$gray-light: #F7F7F7;

$gray-mid-lite:#C0C0C0; // not used
$service-favorite:#D95877; // not used
$liner-gradient-1:linear-gradient(225deg, #E261CE -1.28%, #F7C411 101.28%);  //not used
$daytime-liner-gradient:linear-gradient(90deg, #D17CEF 12.58%, #D7C30F 37.55%, #E9485B 61.98%, #1A2F43 85.78%); // not used
$err: #EB5757; // not used
